#etsy {
	font-size: 45px;
	align: left;
	display: inline;;
	width:125px;
	margin-right: 5px;
	text-height:70px;
	vertical-align: middle;
	color: #ee7621;
	font-family: Times New Roman;

}

#signin {
	background-color: white;
	color:#53868b;
	border:solid 1px #53868b;
	padding: 10px;
	font-size:12px;
	border-radius:4px;
}

#topinput {
	width:500px;
	height:35px;
	background-color: #f5f5dc;
	border: 1px solid #eed5b7;

}

#searchbutton {
	font-size: 10px;
	padding: 11px;
	background-color:#53868b;
	color:white;
	font-size: 15px;
	border:none;
	font-family: Tahoma;
	

}

#toplist li {
	display: inline-block;
	list-style: none;
	font-size: 15px;
	margin-right: 15px;
	font-family: Tahoma;
	color:#53868b;
	
}

#toplistdiv {
	float: right;
	margin-right: 0px;

}

Hr {
	clear: both;
}

#topnav li {
	display:inline;
	list-style: none;
	font-size: 15px;
	margin-right: 15px;
	font-family: Tahoma;
	color:#53868b;

}

#background {
	background-color: #f5f5dc;
	height: 2000px;
	position:relative;
}

#topsidebarlist li {
	list-style: none;
	font-size: 15px;
	margin-bottom: 10px;
	font-family: Tahoma;
	color:#53868b;
}

#topsidelistdiv {
	height: 475px;
	width: 225px;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #eed5b7;

}

#topsidelistdiv p {
	padding-left: 15px;

}

#topsidediv {
	margin-left: 50px;

}

#topp {
	padding-top: 20px;
	
}

#botsidebarlist li {
	list-style: none;
	font-size: 15px;
	font-family: Tahoma;
	color:#53868b;
	
}

#botsidebarlist li input {
	width:25px;
	margin-left:10px;
	
}

form li {
	font-family: Tahoma;
	color:#53868b;
}

p {
	font-family: Tahoma;
	
}

#botsidelistdiv {
	height: 600px;
	width: 225px;
	background-color: white;
	border-radius: 5px;
	border: solid 1px #eed5b7;
}

#botsidelistdiv p {
	margin-left: 10px;

}

#botsidediv {
	margin-left: 50px;

}

#sideline {
	margin-left:10px;
	margin-right:10px;

}

#priceinput {
	width: 50px;
	height: 25px;
}

#pricesubmit {
	font-size: 15px;
	padding:10px;
	margin-left: 10px;
	
}

.priceinput {
	margin-left:10px;
}

.priceinput2 {
	margin-left:4px;
}

#sidebuttons li {
	display:inline;
	list-style: none;

}

#sidebuttons p {
	margin-left: 10px;
}

#sidebuttons  {
	margin-left: 10px;
}

#col1 {
	background-color:red;
}

#col2 {
	background-color:orange;
}

#col3 {
	background-color:yellow;
}

#col4 {
	background-color:green;
}

#col5 {
	background-color:blue;
}

#col6 {
	background-color:purple;
}

#col7 {
	background-color:black;
}

#col8 {
	background-color:white;
}

.colorbuttons {
	border-radius: 2px;
	border: 1px solid grey;
	height: 20px;
	width:20px;
	margin-right:1px;
}

#icon {
	height: 30px;
	width:30px;
	margin-right:auto;
	margin-left:auto;
	display:block;

}

#cart p {
	font-size: 11px;
	color: grey;
	line-height: 0px;
	text-align:center;
}

#cart {
	float:right;
	width: 50px;
	margin-top: -10px;
	border-left: solid 1px grey; 

}

#country {
	width: 200px;
	height:100px,
}

img {
	height:225px;
	width:225px;
	margin-bottom: 0px; 
	border-radius: 3px;
	border: solid 1px #eed5b7;
}


ul {
  	list-style: none; 
	
}

.flexcontainer {
	width: 1100px;
	margin: auto;
	margin-top: 75px;
	justify-content: center; 
	position: absolute;
	top: 100px;
	left:300px;

}

.innercontainer {
	flex-direction: row;
	display: inline-flex;
	justify-content: center; 
}

#caption {
	background-color: white;
	width: 225px;
	height:35px;
	position:relative;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 0px;
	border: solid 1px #eed5b7;
	margin-top: -10px;

}
.caption {
	


}
